body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #87CEEB;
  border-radius: 2px;
  max-width: 1200px;
}

.navbar a {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

